NODE_ENV=production
GATEWAY_PORT=4000
GATEWAY_HOST=0.0.0.0
JWT_SECRET=your_production_secret
API_PREFIX=/api
API_VERSION=v1
REDIS_HOST=YOUR_REDIS_SERVER_IP
REDIS_PORT=6379
REDIS_PASSWORD=Dhiraj@123
AUTH_SERVICE_URL=http://YOUR_AUTH_SERVER_IP:5001
AUTH_ROUTE_PREFIX=/auth
USER_SERVICE_URL=http://YOUR_USER_SERVER_IP:5004
USER_ROUTE_PREFIX=/users
COURSE_SERVICE_URL=http://YOUR_COURSE_SERVER_IP:5003
COURSE_ROUTE_PREFIX=/courses