NODE_ENV=production
GATEWAY_PORT=4000
GATEWAY_HOST=0.0.0.0
JWT_SECRET=your_production_secret
API_PREFIX=/api
API_VERSION=v1
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Dhiraj@123
AUTH_SERVICE_URL=http://auth-service:5001
AUTH_ROUTE_PREFIX=/auth
USER_SERVICE_URL=http://user-service:5004
USER_ROUTE_PREFIX=/users
COURSE_SERVICE_URL=http://course-service:5003
COURSE_ROUTE_PREFIX=/courses

# ==========================================
# Future Infrastructure Configurations
# ==========================================

# Database Configuration (PostgreSQL/MongoDB)
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=your_db_password
DB_NAME=lms_db
DATABASE_URL=postgresql://admin:your_db_password@postgres:5432/lms_db

# Redis Configuration (For Caching & Rate Limiting)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Dhiraj@123

# RabbitMQ Message Broker (For Event Driven Communication)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=Dhiraj@123
RABBITMQ_URL=amqp://admin:Dhiraj@123@rabbitmq:5672

# MinIO / Object Storage (For File Uploads)
MINIO_ENDPOINT=http://minio:9000
MINIO_PORT=9000
MINIO_BUCKET=lms-assets
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=Dhiraj@123

# Authentication
JWT_SECRET=your_jwt_secret_key

# Email / SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dhirajkumar19web@gmail.com
SMTP_PASS=your_app_password_here
SMTP_FROM=dhirajkumar19web@gmail.com
