# Server Configuration
NODE_ENV=development

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=5001
NOTIFICATION_SERVICE_PORT=5002
COURSE_SERVICE_PORT=5003
USER_SERVICE_PORT=5004
ENROLLMENT_SERVICE_PORT=5005
PAYMENT_SERVICE_PORT=5006
PROGRESS_SERVICE_PORT=5007
ASSESSMENT_SERVICE_PORT=5008
CERTIFICATE_SERVICE_PORT=5009

# JWT Authentication Configuration
JWT_SECRET=39HYI3CphTNFvw80gAN9hCfJc03yPvdCbuaTzdp0aoL

# API Versioning Configuration
API_PREFIX=/api
API_VERSION=v1

# Redis Cache & Rate Limiting Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Dhiraj@123

# Service Proxy URLs
AUTH_SERVICE_URL=http://auth-service:5001
AUTH_ROUTE_PREFIX=/auth

USER_SERVICE_URL=http://user-service:5004
USER_ROUTE_PREFIX=/users

COURSE_SERVICE_URL=http://course-service:5003
COURSE_ROUTE_PREFIX=/courses

NOTIFICATION_SERVICE_URL=http://notification-service:5002
NOTIFICATION_ROUTE_PREFIX=/notifications

ENROLLMENT_SERVICE_URL=http://enrollment-service:5005
ENROLLMENT_ROUTE_PREFIX=/enrollments

PAYMENT_SERVICE_URL=http://payment-service:5006
PAYMENT_ROUTE_PREFIX=/payments

PROGRESS_SERVICE_URL=http://progress-service:5007
PROGRESS_ROUTE_PREFIX=/progress

ASSESSMENT_SERVICE_URL=http://assessment-service:5008
ASSESSMENT_ROUTE_PREFIX=/assessments

CERTIFICATE_SERVICE_URL=http://certificate-service:5009
CERTIFICATE_ROUTE_PREFIX=/certificates

# RabbitMQ Message Broker Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASS=Dhiraj@123
RABBITMQ_URL=amqp://admin:Dhiraj@123@rabbitmq:5672

# MinIO / S3 Object Storage Configuration
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=Dhiraj@123
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET_NAME=lms-assets

# Database
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=Dhiraj@123
DB_NAME=lms_db


# Email / SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dhirajkumar19web@gmail.com
SMTP_PASS=your_app_password_here
SMTP_FROM=dhirajkumar19web@gmail.com
