# MinIO
MINIO_ENDPOINT=http://minio:${MINIO_PORT}
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_secure_password
MINIO_BUCKET_NAME=lms-assets

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Dhiraj@123

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASS=your_secure_rabbitmq_password

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=Dhiraj@123
DB_NAME=lms_db
